### Read data

In [1]:
import pandas as pd
import numpy as np
import sklearn

In [2]:
data1 = pd.read_csv("C:\\Users\\Shubham\\Downloads\\datasets_46927_85203_data.csv")

In [3]:
data1 = data1.drop(["street", "city", "country","statezip"], axis=1)

In [4]:
data1.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992

### Independent variable

In [5]:
x = data1.iloc[:,2:]
x.head()

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005
1,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0
2,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0
3,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0
4,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992

### Dependent variable

In [6]:
y = data1.iloc[:,1:2]
y.head()

       price
0   313000.0
1  2384000.0
2   342000.0
3   420000.0
4   550000.0

### Spliting and Fitting Data

In [18]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test =train_test_split(x, y, train_size=0.80,test_size=0.20, random_state=100)

In [22]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error 
from math import sqrt

In [54]:
knn = KNeighborsRegressor(n_neighbors=8)
knn.fit(x_train , y_train)
y_pred = knn.predict(x_test)
y_pred[0:3,:]

array([[430977.625],
       [443825.   ],
       [995493.75 ]])

In [53]:
y_test.head(3)

          price
3386   519000.0
918    442500.0
338   1039000.0

### Root Mean Square Error

In [20]:
for i in range (1,15):
    knn = KNeighborsRegressor(n_neighbors=i)
    knn.fit(x_train , y_train)
    y_pred = knn.predict(x_test)
    MSE = np.sqrt( mean_squared_error(y_test,y_pred))
    RMSE = sqrt(MSE)
    print("RMSE when k is"+str(i)+"=",RMSE)

RMSE when k is1= 605.6211657616672
RMSE when k is2= 571.075290639611
RMSE when k is3= 552.3946228083004
RMSE when k is4= 546.4456365083616
RMSE when k is5= 535.0536869897145
RMSE when k is6= 532.8427151713108
RMSE when k is7= 537.0207798902501
RMSE when k is8= 532.0033726343082
RMSE when k is9= 532.7573421817326
RMSE when k is10= 532.9234538747095
RMSE when k is11= 533.708817255085
RMSE when k is12= 532.8428855829017
RMSE when k is13= 533.7976428125787
RMSE when k is14= 531.2648293684285

### Mean Absolute Error

In [49]:
from sklearn.metrics import mean_absolute_error
for i in range (1,15):
    knn = KNeighborsRegressor(n_neighbors=i)
    knn.fit(x_train , y_train)
    y_pred = knn.predict(x_test)
    MAE =  mean_absolute_error(y_test , y_pred)
    print("MAE when k is"+str(i)+"=",MAE)

MAE when k is1= 227784.0000245685
MAE when k is2= 199591.09000175438
MAE when k is3= 189050.62648251958
MAE when k is4= 184650.4660968818
MAE when k is5= 177219.84132724954
MAE when k is6= 176493.96537331454
MAE when k is7= 176917.42383639194
MAE when k is8= 175440.03490156835
MAE when k is9= 173068.0026205709
MAE when k is10= 172006.8794784276
MAE when k is11= 172114.31080801363
MAE when k is12= 172276.63577197347
MAE when k is13= 172597.54860057074
MAE when k is14= 171545.19635480092