###

In [70]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [71]:
loan = pd.read_csv("train_ctrUa4K.csv")
loan.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [72]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [73]:
loan["Married"] =  loan["Married"].fillna('Yes')
loan["Self_Employed"] = loan["Self_Employed"].fillna('No')
loan["LoanAmount"] = loan["LoanAmount"].fillna(loan["LoanAmount"].mean())
loan["Loan_Amount_Term"] = loan["Loan_Amount_Term"].fillna(360)
loan["Credit_History"] = loan["Credit_History"].fillna(1)
loan["Gender"] = loan["Gender"].fillna('Male')

In [74]:
from sklearn import preprocessing
l=["Gender","Married","Education","Self_Employed",]
for i in l:
    le = preprocessing.LabelEncoder()
    le.fit(loan[i])
    loan[i]= le.transform(loan[i])

In [75]:
from sklearn import preprocessing
l=["Gender","Married","Education","Self_Employed",]
for i in l:
    le = preprocessing.LabelEncoder()
    le.fit(loan[i])
    loan[i]= le.transform(loan[i])

In [76]:
loan = pd.get_dummies(loan, columns=['Property_Area'])

In [77]:
X = loan.drop(['Loan_ID', 'Loan_Status', 'Dependents'], axis=1)
y = loan['Loan_Status']

In [78]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=70)

In [79]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectFromModel

In [80]:
fcl = RandomForestClassifier(n_estimators=110, random_state=67)
fcl.fit(X_train, y_train)
y_pred=fcl.predict(X_test)

In [81]:
from sklearn.metrics import confusion_matrix, classification_report,accuracy_score

In [82]:
print(confusion_matrix(y_pred, y_test))

[[ 30   5]
 [ 32 118]]

In [83]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.8

In [84]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           N       0.86      0.48      0.62        62
           Y       0.79      0.96      0.86       123

    accuracy                           0.80       185
   macro avg       0.82      0.72      0.74       185
weighted avg       0.81      0.80      0.78       185

In [85]:
loan2 = pd.read_csv('test_lAUu6dG.csv')
loan2.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [86]:
loan2["Gender"] = loan2["Gender"].fillna('Male')
loan2["Dependents"] = loan2["Dependents"].fillna(0)
loan2["Self_Employed"] = loan2["Self_Employed"].fillna('No')
loan2["LoanAmount"] = loan2["LoanAmount"].fillna(136.13259668508286)
loan2["Loan_Amount_Term"] = loan2["Loan_Amount_Term"].fillna(360)
loan2["Credit_History"] = loan2["Credit_History"].fillna(1)

In [87]:
from sklearn import preprocessing
l=["Gender","Married","Education","Self_Employed",]
for i in l:
    le = preprocessing.LabelEncoder()
    le.fit(loan2[i])
    loan2[i]= le.transform(loan2[i])

In [88]:
loan2 = pd.get_dummies(loan2, columns=['Property_Area'])

In [89]:
loan2.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,LP001015,1,1,0,0,0,5720,0,110.0,360.0,1.0,0,0,1
1,LP001022,1,1,1,0,0,3076,1500,126.0,360.0,1.0,0,0,1
2,LP001031,1,1,2,0,0,5000,1800,208.0,360.0,1.0,0,0,1
3,LP001035,1,1,2,0,0,2340,2546,100.0,360.0,1.0,0,0,1
4,LP001051,1,0,0,1,0,3276,0,78.0,360.0,1.0,0,0,1

In [93]:
X1 = loan2.drop(['Loan_ID', 'Dependents'], axis=1)

In [94]:
X1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Gender                   367 non-null    int32
 1   Married                  367 non-null    int32
 2   Education                367 non-null    int32
 3   Self_Employed            367 non-null    int32
 4   ApplicantIncome          367 non-null    int64
 5   CoapplicantIncome        367 non-null    int64
 6   LoanAmount               367 non-null    float64
 7   Loan_Amount_Term         367 non-null    float64
 8   Credit_History           367 non-null    float64
 9   Property_Area_Rural      367 non-null    uint8
 10  Property_Area_Semiurban  367 non-null    uint8
 11  Property_Area_Urban      367 non-null    uint8
dtypes: float64(3), int32(4), int64(2), uint8(3)
memory usage: 21.3 KB

In [95]:
y_pred_test=fcl.predict(X1)

In [96]:
Loan_prediction = pd.read_csv('test_lAUu6dG.csv')

Loan_ID = Loan_prediction['Loan_ID']

In [97]:
submission=pd.DataFrame({'Loan_ID':Loan_ID, 'Loan_Status':y_pred_test})
submission.to_csv("sample_submission4.csv",index=False)