### Mathakari Shubham
### ID:AIS021

### Basic programs

### 1. Create a tuple to display the values of a tuple using for loop?

In [160]:
tuple1 =('apple','banana','Grapes','Mango','Oranges','strawberry')
for elem in tuple1:
    print(elem)

apple
banana
Grapes
Mango
Oranges
strawberry

### 2. Write a python program to display even numbers between 100 and 120 using while loop?

In [145]:
a = 120
number = 100
while number <= a:
    if(number % 2 == 0):
        print("{0}".format(number))
    number = number + 1

100
102
104
106
108
110
112
114
116
118
120

### 3. Write a python program to display numbers from 10 to 1 in decreasing order using for loop?

In [158]:
n=10
for i in range(n,0,-1):
    print(i,end = " ")

10 9 8 7 6 5 4 3 2 1

### 4. Write a python program to display numbers from 11 to 15 using continue statement?

In [148]:
for i in range(10, 16):
    if i == 10: 
        continue
    else:
        print(i, end = " ")

11 12 13 14 15

### 5.Write a function add () to find sum of two numbers?

In [3]:
def add(a,b):
    sum=a+b
    return(sum)
x=96
y=98
add(x,y)

194

### 6. Write a function multi () to find multiplication of two numbers using return statement?

In [5]:
def multi(a,b):
    multi=a*b
    return(multi)
x1=17
y1=25
print(multi(x1,y1))

425

### 7. Write a python program to print numbers in list which are greater than 50?
### Where, list=[12,55,9,30,47,56,23,60,75]

In [156]:
list1 = [12,55,9,30,47,56,23,60,75]
for i in list1:
    if i > 50 :
        print(i)

55
56
60
75

### 8. Write a function max () that returns a maximum of two number?

In [129]:
def max(num1, num2):
    if (num1 > num2):
        max = num1
    else:
        max = num2
    return (max) 
max(50,39)

50

### 9. Write a function divisible () that takes number

#### 1. If number is divisible by 3, it should return "yes"
#### 2. If number is divisible by 5, it should return "no"
#### 3. If number is divisible by both 3 and 5, it should return "yesno"
#### 4. Otherwise it should return "notdivisible"

In [143]:
def divisible(x):
    if ((x%3 == 0) and (x%5 ==0)):
        return("yesno")
    elif (x%3 == 0):
        return("yes")
    elif (x%5 == 0):
        return("no")
    else:
        return("notdivisible")

In [144]:
print(divisible(18))
print(divisible(55))
print(divisible(60))
print(divisible(71))

yes
no
yesno
notdivisible

### 10. Write a function called stars (rows). If rows is 4, it should print the following?
#### *
#### **
#### ***
#### ****

In [140]:
def stars(rows): 
    for i in range(0, rows): 
        for j in range(0, i+1):  
            print("* ",end="")  
        print("\r")

In [142]:
stars(6)

*
* *
* * *
* * * *
* * * * *
* * * * * *