### Mathakari Shubham
### ID:AIS021

### Dictionary and Set in python

### 1. What is meant by dictionary?

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

### 2. What is difference between dictionary and set?

Dictionaries are unordered sets. But the main difference is that items in dictionaries are accessed via keys and not via their position. The values of a dictionary can be any Python data type. A set is a collection which is unordered and unindexed.

### 3. Create a python set of mixed data types?

In [12]:
set1 = (1,2,3,'mathematics')
print(set1)

(1, 2, 3, 'mathematics')

### 4. Create a Dictionary of employee name, Id and salary?

In [11]:
employee = {'name':'Shekhar','id':'asi121','salary':25000}
employee

{'name': 'Shekhar', 'id': 'asi121', 'salary': 25000}

### 5. Display key-value pairs from dictionary using items () method?

In [20]:
employee = {'name':'Shekhar','id':'asi121','salary':25000}
employee.items()

dict_items([('name', 'Shekhar'), ('id', 'asi121'), ('salary', 25000)])

### 6. Create a dictionary and access values of 2nd key from the dictionary?

In [4]:
employee = {'name':'Shekhar','id':'asi121','salary':25000}
print(employee['id'])

asi121

### 7. Create a dictionary and then print empty dictionary using clear () method?

In [3]:
list1 = {'name':'ajay','age':'24','height':170,'weight':90}
list1.clear()
print('list1:',list1)

list1: {}

### 8. Create a Dictionary of name, roll no, marks, gender and access keys from the dictionary using key () method?

In [11]:
d= {'Name':'Rohit','Roll No':10,'Marks':465,'Gender':'Male'}
print(d.keys())

dict_keys(['Name', 'Roll No', 'Marks', 'Gender'])

### 9. Take set A for even and B for odd and print the union of two set?

In [8]:
A = {2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50}
B = {1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49}
print('A union B:',A|B)

A union B: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50}

### 10. If A={1,2,3,4,5} and B={4,5,6,7,8} then find difference, intersection of set A and B?

In [10]:
A={1,2,3,4,5}
B={4,5,6,7,8}
print('A-B:',A-B)
print('A intersection B:',A&B)

A-B: {1, 2, 3}
A intersection B: {4, 5}

### 11. If set= {1, 2, 3, 5, 6} then add an element 4 in the set using add () function and remove 3 using discard () function?

In [14]:
set1 = {1, 2, 3, 5, 6}
set1.add(4)
set1.discard(3)
print('set1:',set1)

set1: {1, 2, 4, 5, 6}

### 12. Add 12,9,11 in the set A = {1, 2, 3, 5, 6} using update () function?

In [19]:
A={1,2,3,5,6}
b={12,9,11}
A.update(b)
print('A:',A)

A: {1, 2, 3, 5, 6, 9, 11, 12}

### 13. Create a set and print the sum of all the elements in the set?

In [20]:
A={2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50}
sum(A)

650

### 14. if myset={"a","p","p","l","e"} then check whether a and r is in the set or not using membership operator?

In [22]:
myset={"a","p","p","l","e"}
print("a" in myset)
print("r" in myset)

True
False

### 15. Create a dictionary of players name and runs in match and print keys and values in dictionary using for loop?

In [2]:
match={"name":["sachin","dhoni"],"scores":[200,183]}
for k,v in match.items():
    print(k,v)

name ['sachin', 'dhoni']
scores [200, 183]