### Mathakari Shubham
### ID:AIS021

### List and Tuple in python

### 1. What is tuple?

Ans: A tuple is an immutable sequence of Python objects. Tuples are sequences, just like lists.

### 2. What is difference between list and tuple?

Ans: The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

### 3. What is the result of range (1, 12, 2)?

In [41]:
[*range(1,12,2)]

[1, 3, 5, 7, 9, 11]

### 4. Assuming a= [10, 20, 30, 40, 50]
1. Find length of a list?
2. Find maximum and minimum number of a list

In [28]:
#length of a list
a= [10, 20, 30, 40, 50]
lenght_a =len(a)
print('lenght_a:',lenght_a)

lenght_a: 5

In [29]:
#maximum and minimum number of a list
maximum = max(a)
minimum = min(a) 
print('maximum:',maximum)
print('minimum:',minimum)

maximum: 50
minimum: 10

### 5. If x=(1,2,3,4,5,1,3,1) then what is the result of x*2 and x.count(1)?

In [30]:
x=(1,2,3,4,5,1,3,1)
print('x*2:',x*2)
print('count(1):',x.count(1))

x*2: (1, 2, 3, 4, 5, 1, 3, 1, 1, 2, 3, 4, 5, 1, 3, 1)
count(1): 3

### 6. Create a list of colors name and then print first and last color name of the list using slicing?

In [31]:
colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
a=slice(0,7,6)
print(colors[a])

['red', 'violet']

### 7. If list = [1,4,7,'a','c',"rat","mat",4,6,4] then add element 12 using append method and remove rat element using remove method in the given list?

In [32]:
ais = [1,4,7,'a','c',"rat","mat",4,6,4]
ais.append(12)
ais.remove("rat")
print(ais)

[1, 4, 7, 'a', 'c', 'mat', 4, 6, 4, 12]

### 8. Create two list and concatenate them and then repeat 1st list 3 times?

In [33]:
list1 = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
list2 = [1, 4, 7, 'a', 'c', 'mat', 4, 6, 4, 12]
concatenate = list1 + list2
print('concatenate:',concatenate)
print('list1*3:',list1*3)

concatenate: ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet', 1, 4, 7, 'a', 'c', 'mat', 4, 6, 4, 12]
list1*3: ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet', 'red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet', 'red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']

### 9. Create a tuple of fruits name and then access first 4 elements from the tuple?

In [18]:
fruit =('apple','banana','Grapes','Mango','Oranges','strawberry')
fruit[0:4]

('apple', 'banana', 'Grapes', 'Mango')

### 10 .Create a list using range function and then convert this list into tuple using tuple function?

In [42]:
list1 = [*range(0, 31, 5)]
print('list1:',list1)
print('tuple:',tuple(list1))

list1: [0, 5, 10, 15, 20, 25, 30]
tuple: (0, 5, 10, 15, 20, 25, 30)

### 11. Create a tuple using eval function and then obtained the length of tuple?

In [19]:
tuple1 =eval("1,9,32,65,25")
print('tuple1:',tuple1)
a= len(tuple1)
print('length of tuple1:',a)

tuple1: (1, 9, 32, 65, 25)
length of tuple1: 5

### 12. Create a tuple of integer number and then sort the elements of tuple?

In [46]:
tuple1 =(10,15,65,85,98,63,25,14)
tuple1 =sorted(tuple1)
print('tuple1:',tuple1)

tuple1: [10, 14, 15, 25, 63, 65, 85, 98]

### 13. Create a list of colors name and then insert purple color on 3rd position using insert method?

In [51]:
list1 = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet']
list1.insert(2,'purple')
print(list1)

['red', 'orange', 'purple', 'yellow', 'green', 'blue', 'indigo', 'violet']

### 14. If x= (50, 60, 70, 80, 90, (200,100)) then access 200,100 from the tuple?

In [5]:
x= (50, 60, 70, 80, 90, (200,100))
x[5][:]

(200, 100)

### 15. Create a nested tuple and nested list?

In [22]:
tuple1 = (8,(5,(15,(5,6),5),9),(3,4))
list1 = [[0,[5,10],15,],['red',['orange','purple'],'yellow'], 50, 60, 70, 80, 90, ]
print('tuple1:',tuple1)
print('list1:',list1)

tuple1: (8, (5, (15, (5, 6), 5), 9), (3, 4))
list1: [[0, [5, 10], 15], ['red', ['orange', 'purple'], 'yellow'], 50, 60, 70, 80, 90]